<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.prepcarapplication"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk tools:overrideLibrary="com.andremion.louvre" />

    <!-- <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" /> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            tools:overrideLibrary="android.support.v7.appcompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainScreen" />
        <activity
            android:name=".BeforeLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".NavigateScreenActivity"
            android:label="@string/title_activity_navigate_screen" />
        <activity
            android:name=".LogInSignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".NavigateActivityBuyer"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".NavigateActivityDealer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProfileActivityDealer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProfileActivityBuyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="eu.janmuller.android.simplecropimage.CropImage"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- facebbok -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".DiscoveryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".FinancesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CurrentCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".IKnowWhatIWantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".IAmHesitantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DealerNewCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".BuyerNewCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".NotificationActivityBuyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CarPlanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".NewMatcheDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.andremion.louvre.home.GalleryActivity"
            android:theme="@style/AppTheme.Louvre.Light.DarkActionBar" />
        <activity
            android:name="com.andremion.louvre.preview.PreviewActivity"
            android:theme="@style/AppTheme.Louvre.Preview" />
        <activity android:name="com.darsh.multipleimageselect.activities.AlbumSelectActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindRangeDealerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".SearchActivityBuyer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service android:name=".notification.FCMCallbackService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notification.FCMInitializationService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".DealerBuyerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".AcceptBuyerRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".DealerSelectCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".CreateDealActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".TestDriveActivityDealer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".DealerTestDriveDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>

</manifest>